<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="parCont">
        <div id="container">
            <form action="/" method="POST">

                <label for="name">Name : </label>
                <input type="text" id="name" name="name" required>

                <label for="no">Mobile No : </label>
                <input type="num" id="no" name="mobile" required>

                <label for="street">Street : </label>
                <input type="text" id="street" name="street">

                <label for="district">District : </label>
                <input type="text" id="district" name="district">

                <label for="state">State : </label>
                <input type="text" id="state" name="state">


                <div style="display: flex;justify-content: center;">
                    <button>Create</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>