<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div id="parCont">
        <div id="container">
            <h1>Contacts</h1>

            <div id="contDisplay">
                <% Contacts.forEach( contact=> { %>
                    <div id="contact">
                        <a href="/<%= contact.id %>">
                            <p>
                                <%= contact.name %>
                            </p>
                            <p>
                                <%= contact.mobile %>
                            </p>
                        </a>
                    </div>
                    <% })%>

            </div>

            <div id="parntCreateBtn">
                <a href="/create" id="createBtn">New Contact</a>
            </div>

        </div>
    </div>



</body>

</html>